*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.bg{
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	background: -webkit-linear-gradient(1.03turn, #fff 30%, transparent 20%), -webkit-linear-gradient(.25turn, var(--main), var(--secondary));
	background: -o-linear-gradient(1.03turn, #fff 30%, transparent 20%), -o-linear-gradient(.25turn, var(--main), var(--secondary));
	background: linear-gradient(1.03turn, #fff 30%, transparent 20%), linear-gradient(.25turn, var(--main), var(--secondary));
	padding: 0 10%;
}

.weather-wrapper,
.info-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.box{
	padding: 20px;
	color: #333;
	background: #fff;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	-webkit-box-shadow: 0px 0px 25px -8px rgba(0,0,0,.8);
	box-shadow: 0px 0px 25px -8px rgba(0,0,0,.8); 	
}
.box h2{
	color: var(--secondary);
	font-weight: 300;
}
.location{
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15px;
	color: var(--secondary);
}
.deg-section{
	display: flex;
	justify-content: center;
	font-size: 2em;
	color: var(--main);
}

.bottom-section{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.c-btn,
.f-btn{
	cursor: pointer;
	color: var(--secondary);
	font-weight: 600;
}

.deg-toggle,
.location,
.deg-section,
.summary{
	animation: popIn ease .5s;
}

.deg{
	font-weight: 600;
	margin-right: 10px;
}
.summary{
	text-align: right;
}

.info{
	display: flex;
}

.info-text{
	color: var(--secondary);
	font-weight: 600;
	margin-left: 5px;
}

/*animations*/
@keyframes popIn{
	0%{
		opacity: 0;
		transform: scale(0.7);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

#activaded{
	color: #333;
	font-weight: 300;
	cursor: default;
	pointer-events: none;
}

/*Styles when page has not loaded yet*/
.hidden{
	opacity: 0;
}

@media only screen and (max-width: 768px){
	.bg{
		flex-direction: column;
		justify-content: center;
	}
	.weather-wrapper{
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 400px){
	.bg{
		font-size: 16px;
	}
}